<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "clients"} %>
<% end %>

<% content_for :main do %>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Uid:</strong>
	  <%= @client.uid %>
	</p>

	<p>
	  <strong>Moniker:</strong>
	  <%= @client.moniker %>
	</p>

	<p>
	  <strong>Admin:</strong>
	  <%= @client.admin.email%>
	</p>
<% end %>
<% content_for :sidebarwide do %>
	<table class="table">
		<tr>
		<td class="danger"><%= link_to 'Edit', edit_client_path(@client) %></td>
		<tr>
		<td class="danger"><%= link_to 'Back', clients_path %></td>
		<tr>
		<td class="danger"><%= link_to 'New Client', new_client_path %></td>
	</table>
<% end %>

