
<% content_for :nav do %>
	<%  render partial: "layouts/navigation", locals: {active: "login"} %>
<% end %>
<% content_for :main do %>

		<div class="col-sm-6">
			<h2>PitCrew - Personal Care Management Done Right<h2>
			<br/>
			<h3>PitCrew is a tool for care managers and team members that need an easy and accurate tracking and recording of care related tasks.<h3>
		</div>	
	
		<div class="col-sm-6">
			<h2>Log in</h2>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
				<%= f.input :email, required: false, autofocus: true %>
				<%= f.input :password, required: false %>
				<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  </div>

			  <div class="form-actions">
				<%= f.button :submit, "Log in" %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>

<% end %>
